
@define-color bg0 #1D2021;
@define-color bg1 #282828;
@define-color bg2 #282828;
@define-color bg3 #3C3836;
@define-color bg4 #3C3836;

@define-color red    #E06c75;
@define-color green  #A9B665;
@define-color orange #E78A4E;
@define-color yellow #D8A657; 
@define-color aqua   #89B482;
@define-color blue   #7DAEA3;
@define-color purple #D3869B;

@define-color fg0 #D4BE98;
@define-color fg1 #F3DEAA;   /* is custom */

@define-color grey  #5c6370;
@define-color grey1 #828997;
@define-color grey2 #abb2bf;

