/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1D2021;
    background-alt: #282828;
    foreground:     #D4BE98;
    selected:       #7DAEA3;
    active:         #A9B665;
    urgent:         #EA6962;
}
